<div class="footer">
    <div class="top">
        <div class="top-left">
            <a href="https://agromonitoring.com/">AGROMONITORING</a>
            <a href="https://agromonitoring.com/dashboard/dashboard-documentation">DOCUMENTATION</a>
        </div>
        <div class="top-right" style="padding: 0%;">2012 - 2023<a style="color: blueviolet;" href="https://agromonitoring.com/"><span>AgroMonitoring ©</span></a>All rights reserved</div>
    </div>
    <div class="bottom">
        <a href="https://agromonitoring.com/storage/app/media/Terms/ExtremeElectronics_terms_and_conditions_of_sale.pdf">Terms And Conditions Of Sale</a>
        <a href="https://agromonitoring.com/privacy-policy">Privacy Policy</a>
        <a href="https://agromonitoring.com/storage/app/media/Terms/ExtremeElectronics_website_terms_and_conditions_of_use.pdf">Terms And Conditions Of Use</a>
    </div>
</div>

