*{
    margin: 0px 30px;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

}
h5{
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    color: black;
    background-color: white;
    transition: .3s ease-in;
}
h5:hover{
    z-index: 1;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
details{
    color: seashell;
    border: none;
    background-color: transparent;
}
details:hover{
    border: none;
    color: #1d8cf8;
    
}

@media screen and (max-width : 480px) {
    .nav{
        width: 480px;
    }
}