.poly-content{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin:0px 10px 0px 10px ;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: solid 1px rgb(53, 53, 53);
}
.poly-content:hover{
    background-color:#2c2e43;
}
.table-icons{
    display: flex;
    align-items: center;
    gap: 20px;
}
.pencil-input{
    background-color: transparent;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    color: white;
    border-color: blueviolet;
    justify-content: center;
}