
<div class="content-main">
 
  <div class="table">
    <table>
      <tbody>
        <tr>
          <th>Clouds</th>
          <th>{{ data?.clouds.all }}%</th>
        </tr>
        <tr>
          <th>Humidity</th>
          <th>{{ data?.main.humidity }}%</th>
        </tr>
        <tr>
          <th>Pressure</th>
          <th>{{ data?.main.pressure }}hPa</th>
        </tr>
        <tr>
          <th>Temperature</th>
          <th>{{ data?.main.temp }}k</th>
        </tr>
        <tr>
          <th>Wind Speed</th>
          <th>{{ data?.wind.speed }}m/s</th>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="input">
    <label>
      <span>Longitude</span>
      <input type="number" [defaultValue]="0" [(ngModel)]="long" />
    </label>
    <label>
      <span>Latitude</span>
      <input type="number" [defaultValue]="0" [(ngModel)]="lat" />
    </label>
    <button (click)="onClick()">Get Weather</button>
  </div>
</div>
<div class="readings">
  <div class="data-table">
    <table class="t2">
      <thead class="dhead">
        <tr>
          <th>City</th>
          <th>Clouds</th>
          <th>Humidity</th>
          <th>Pressure</th>
          <th>Temperature</th>
          <th>Wind Speed</th>
        </tr>
       
      </thead>
      <tbody *ngFor="let data1 of responses; let i = index" class="dbody">
        <tr>
          <th>{{ name[i] }}</th>
          <th>{{ data1?.clouds.all }}%</th>
          <th>{{ data1?.main.humidity }}%</th>
          <th>{{ data1?.main.pressure }}hPa</th>
          <th>{{ data1?.main.temp }}k</th>
          <th>{{ data1?.wind.speed }}m/s</th>
        </tr>
       
      </tbody>
    </table>
  </div>
</div>
