
.main{
    background-color: #1e1e2f;;
    display: flex;
    height: 100%;
    gap: 40px;
}
.mini-nav
{
    display:flex;
    justify-content: flex-end;
}
.main-content{
    width: 100%;
    margin-right: 50px;
}