.graph-comp{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.graph-container{
    width: 100%;
    background-color: #27293d;
    border-radius: 8px;
    padding: 20px;
    height:400px;
    overflow-x: auto;
    overflow-y: auto;
    

    
   
    
}
.graph{
    height: 450px;
    width: 3000px;

}
canvas {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.graph-header{
    display: flex;
    justify-content: space-between;
    margin: 0%;

}
.graph-header p{
    color: gray;
    font-size: small;
}

.graph-header-options{
    display: flex;
    align-items: center;
    text-align: center;
   
}
.graph-header-options h5{
    border: solid 1px white;
    padding: 3px;
    display: flex;
    align-items: center;
    transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
   
}
.graph-header-options h5:hover{
    background-color: white;
    color: black;
    margin-top: 8px;

    
}
.title h3{
    font-size:x-large;
}